# Lesson 1.2: Python Basics
## Topics Covered:
- Syntax and Semantics
- Variables and Data Types
- Basic Operators (Arithmetic, Comparison, Logical)

## 1. Syntax and Semantics

**Question 1:** Write a Python program to print "Hello, World!".

In [2]:
# Your code here
print("Hello, World")

Hello, World

**Question 2:** Write a Python program that takes a user input and prints it.

In [3]:
# Your code here
x=input("enter a number")
print(x)

enter a number12
12

**Question 3:** Write a Python program to check if a number is positive, negative, or zero.

In [13]:
# Your code here
x = int(input("enter a number"))
if x>0:
  print("positive")
elif x<0:
    print("negative")
else:
    print("zero")

enter a number12
positive

**Question 4:** Write a Python program to find the largest of three numbers.

In [21]:
from ast import And
# Your code here
x=int(input("enter a 1st number"))
y=int(input("enter a 2nd number"))
z=int(input("enter a 3rd number"))
if x>y and x>z:
  print("1st number is greater number")
elif y>x and y>z:
  print("2nd number is greate number")
else:
  print("number 3rd is greater number")

enter a 1st number12
enter a 2nd number22
enter a 3rd number32
number 3rd is greater number

**Question 5:** Write a Python program to calculate the factorial of a number.

In [33]:
# Your code here
x=int(input("enter a number to ifnd its factorial"))
if x<0:
  result = "factorial doesnt exist"
elif x==0:
  result= 1
else:
  result=1
  for i in range(1, x+1):
    result=result*i

print(result)

enter a number to ifnd its factorial12
479001600

## 2. Variables and Data Types

**Question 6:** Create variables of different data types: integer, float, string, and boolean. Print their values and types.

In [39]:
# Your code here
var= 5
print(var,type(var))
var="hello"
print(var,type(var))
var=5.1
print(var,type(var))
var=True
print(var,type(var))

5 <class 'int'>
hello <class 'str'>
5.1 <class 'float'>
True <class 'bool'>

**Question 7:** Write a Python program to swap the values of two variables.

In [47]:
# Your code here
x=int(input("enter x value="))
y=int(input("enter y value="))
print("value of x before swap",x)
print("value of y before swap",y)
x,y = y,x
print("value of x after swap",x)
print("value of y after swap",y)

enter x value=12
enter y value=23
value of x before swap 12
value of y before swap 23
value of x after swap 23
value of y after swap 12

**Question 8:** Write a Python program to convert Celsius to Fahrenheit.

In [53]:
# Your code here
temp= float(input("enter the temp in c to covert to f= "))
result = (temp*9/5)+32
print(result)

enter the temp in c to covert to f= 12
53.6

**Question 9:** Write a Python program to concatenate two strings.

In [58]:
# Your code here
x="hello"
y="world"
z= x+y
print(z)

helloworld

**Question 10:** Write a Python program to check if a variable is of a specific data type.

In [62]:
# Your code here
var=int(input("enter a var to check if it int"))
if type(var)==int:
  print("var is int")
else:
  print("var if not int")

enter a var to check if it int12
var is int

## 3. Basic Operators (Arithmetic, Comparison, Logical)

**Question 11:** Write a Python program to perform arithmetic operations: addition, subtraction, multiplication, and division.

In [64]:
# Your code here
a=int(input("enter number a"))
b=int(input("enter number b"))
add=a+b
subs=a-b
multi=a*b
div=a/b
print("addition",add)
print("substraction",subs)
print("multiplication",multi)
print("division",div)

enter number a12
enter number b24
addition 36
substraction -12
multiplication 288
division 0.5

**Question 12:** Write a Python program to demonstrate comparison operators: equal to, not equal to, greater than, less than.

**Question 13:** Write a Python program to demonstrate logical operators: and, or, not.

In [65]:
# Your code here
a=2
b=5
a<b

True

In [68]:
# Your code here
a>b
a==b
a!=b

True

**Question 14:** Write a Python program to calculate the square of a number.

In [71]:
# Your code here
a=4
sq=a**2
print(sq)

16

**Question 15:** Write a Python program to check if a number is even or odd.

In [73]:
# Your code here
a=2
if a%2 == 0:
  print("even")
else:
  print("odd")

even

**Question 16:** Write a Python program to find the sum of the first n natural numbers.

In [77]:
# Your code here
n=int(input("enter n value"))
if n<1:
  print("0")

total_sum=(n*(n+1))//2
print(total_sum)

enter n value12
78

**Question 17:** Write a Python program to check if a year is a leap year.

In [79]:
# Your code here
''' leap yr once in 4yrs but yrs divisible by 100 is not leap unless divisible by 400 tooo '''
n=int(input("enter the yr to cheap leap or no "))
if n%100 and n%400 == 0:
  print("leap year", n)
else:
  print("not a leap yr")

enter the yr to cheap leap or no 1900
not a leap yr

**Question 18:** Write a Python program to reverse a string.

In [82]:
# Your code here
str=input("enter string to reverse")
revStr=""
for char in str:
  revStr=char+revStr
print(revStr)

enter string to reverseaba
aba

**Question 19:** Write a Python program to check if a string is a palindrome.

In [83]:
# Your code here
if revStr == str:
  print("palindrome")
else:
  print("not palindrome")

palindrome

**Question 20:** Write a Python program to sort a list of numbers in ascending order.

In [85]:
# Your code here
number = [20,90,40,70,80]
number.sort()
print(number)

[20, 40, 70, 80, 90]