<a href="https://colab.research.google.com/github/PickleRick910/PythonBasics/blob/main/Conditional_statemtns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#conditional statments
#if else elif nested

In [4]:
#if
age=20
if age>=18:
  print("u r allowed to vote in election")

u r allowed to vote in election

In [5]:
age>=18

True

In [8]:
#else
age=16
if age>=18:
  print("u r allowed to vote in election")
else:
  print("you are a minor no voting right")

you are a minor no voting right

In [11]:
#elif
#means else if allows otcheck for multiple conditions
age=int(input("enter ur age"))
if age<13:
  print("u is child")
elif age<20:
  print("uou r a teen")
else:
  print("you are adult")

enter ur age32
you are adult

In [12]:
##nested
#u can plase more than one if elif or else statements inside another if elif

In [16]:
num=int(input("enter the nubmer"))
if num>=0:
  print("number is positive")
  if num%2==0:
    print("num is even")
  else:
    print("no is odd")
else:
  print("thenumber is zero or negative")

enter the nubmer-1
thenumber is zero or negative

In [20]:
#usecase
#leap yr
year=int(input("enter the year"))
if year%4==0:
  if year%100==0:
    if year%300==0:
      print(year,"is a leap yr")
    else:
      print("year not leap ", year)
  else:
    print("year is leap",year)
else:
   print(year,"not leap:")

enter the year2024
year is leap 2024

In [22]:
##foor loop
for i in range(1,5):
  print(i)

1
2
3
4

In [28]:
for i in range(10,1,-2):
  print(i)

10
8
6
4
2

In [29]:
##strings
str="krish"

In [30]:
for i in str:
  print(i)

k
r
i
s
h

In [31]:
##for used to travesers

In [35]:
#while
##continues to execute as log as condition is true
count=0
while count%2==0:
  print(count)
  count=count+1

0

In [36]:
##beak
#breaks loops prematurely
for i in range(10):
  if i ==5:
    break
  print(i)

0
1
2
3
4

In [41]:
##continue
##skips current iteration and continue with next
for i in range(10):
  if i%2 ==0:
    continue
  print(i)

1
3
5
7
9

In [46]:
###pass
##doesnt do anything
for i in range(6):
  if i ==3:
    print("the number is",i)
    pass
  print(i)

0
1
2
the number is 3
3
4
5

In [49]:
##nested loops
for i in range(3):
  for j in range(5):
    print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:0 and j:2
i:0 and j:3
i:0 and j:4
i:1 and j:0
i:1 and j:1
i:1 and j:2
i:1 and j:3
i:1 and j:4
i:2 and j:0
i:2 and j:1
i:2 and j:2
i:2 and j:3
i:2 and j:4

In [50]:
##calc sum on n natural numbers

In [52]:
##while
n=10
sum=0
count=1
while count<=n:
  sum=sum+count
  count=count+1
print("sum of first 10 number is " , sum)

sum of first 10 number is  55

In [53]:
##While
n=10
sum=0
for i in range(11):
  sum=sum+i

print(sum)

55

In [55]:
##prime numbers between 1 and 100
for num in range(1,101):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [56]:
##for and else can also be written