<a href="https://colab.research.google.com/github/PickleRick910/PythonBasics/blob/main/dICTIONARIES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
##DICTIONARIES
######DICTINARIES ARE UNORDERED COLELCTION OF ITEMS , STORE VLAUE IN KEY VALUE PAIRS, MUST BE UNIQUE, AND IMUUCATABLE, WHILE VALUE IS ANY TYPE

In [4]:
##CREATE DICT
###{}

EMPTY_DICT={}
print(type(EMPTY_DICT))

<class 'dict'>

In [6]:
student={"name":"krish", "age":32, "grade":24}
print(student)
print(type(student))

{'name': 'krish', 'age': 32, 'grade': 24}
<class 'dict'>

In [8]:
###error
student={"name":"krish", "age":32, "name":24}
print(student)
print(type(student))

{'name': 24, 'age': 32}
<class 'dict'>

In [9]:
### accessing dictiornary elemetns

student={"name":"krish", "age":32, "grade":'A'}
print(student)
print(type(student))

{'name': 'krish', 'age': 32, 'grade': 'A'}
<class 'dict'>

In [10]:
####accessing dict elemetns
student['grade']

'A'

In [12]:
print(student['age'])

32

In [16]:
##accessing usniong get() method

print(student.get('grade'))
print(student.get('lname'))
print(student.get('lname',"not available"))

A
None
not available

In [18]:
##modifying elements

### divt are mutable, so u can addd, update or edleete elemtns
print(student)

{'name': 'krish', 'age': 32, 'grade': 'A'}

In [21]:
student["age"]=33  ##update value
print(student)
student["address"]="ind"  ## added new key and vlaue
print(student)

{'name': 'krish', 'age': 33, 'grade': 'A', 'address': 'ind'}
{'name': 'krish', 'age': 33, 'grade': 'A', 'address': 'ind'}

In [22]:
##deleting key
del student['grade'] ###delete key
print(student)

{'name': 'krish', 'age': 33, 'address': 'ind'}

In [27]:
####dict methods
keys=student.keys() ### get all keyts
print(keys)
val=student.values() ##get val
print(val)

items=student.items() ## get all key value pairs
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['krish', 33, 'ind'])
dict_items([('name', 'krish'), ('age', 33), ('address', 'ind')])

In [33]:
## shallow copy
student
student_copy=student
print(student)
print(student_copy)

{'name': 'krish1', 'age': 33, 'address': 'ind'}
{'name': 'krish1', 'age': 33, 'address': 'ind'}

In [34]:
student["name"] ="krish1"
print(student)
print(student_copy)

{'name': 'krish1', 'age': 33, 'address': 'ind'}
{'name': 'krish1', 'age': 33, 'address': 'ind'}

In [38]:
student_copy1=student.copy() ##shallow copy
print(student_copy)
print(student_copy1)
student

{'name': 'krish1', 'age': 33, 'address': 'ind'}
{'name': 'krish1', 'age': 33, 'address': 'ind'}

{'name': 'krish1', 'age': 33, 'address': 'ind'}

In [39]:
student["name"] ="krish3"
print(student_copy1)
student

{'name': 'krish1', 'age': 33, 'address': 'ind'}

{'name': 'krish3', 'age': 33, 'address': 'ind'}

In [42]:
##iterating voer dict

###can use loops to iterate over dict , keys values or items

##iterating overkeys
for keys in student.keys():
  print(keys)

name
age
address

In [45]:
##iterate over values
for value in student.values():
  print(value)

krish3
33
ind

In [47]:
###iterate over key value pairs
for key,value in student.items():
 print(F"{key}:{value}")

name:krish3
age:33
address:ind

In [48]:
##nested dict
##dict inside other dict
students={
    "stu1":{"name":"krish","age":32},
    "stu2":{"name":"peter", "age":35}
}
print(students)

{'stu1': {'name': 'krish', 'age': 32}, 'stu2': {'name': 'peter', 'age': 35}}

In [49]:
##accessing nested dic
print(students["stu2"]["name"])
print(students["stu2"]["age"])

peter
35

In [53]:
###iterating over nested cdicts
for student_id,student_info in students.items():
  print(f"{student_id}:{student_info}")
  for key,value in student_info.items():
    print(f"{key}:{value}")

stu1:{'name': 'krish', 'age': 32}
name:krish
age:32
stu2:{'name': 'peter', 'age': 35}
name:peter
age:35

In [54]:
###dict comprehnetion
sq={ x:x**2 for x in range(5)}
print(sq)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [56]:
##conditonal dict comprehention
even={x:x**2 for x in range(10) if x%2==0}
print(even)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [57]:
##conditonal dict comprehention
odd={x:x**2 for x in range(10) if x%3==0}
print(odd)

{0: 0, 3: 9, 6: 36, 9: 81}

In [60]:
##practical ex
##use dict to count the freq of elemtns in list

num=[1,2,2,2,2,2,3,4,5,2,3,4,5]
freq={}
for number in num:
  if number in freq:
    freq[number]+=1
  else:
    freq[number]=1
print(freq)

{1: 1, 2: 6, 3: 2, 4: 2, 5: 2}

In [61]:
## emrge 2 dic to one


d1={"a":1,"b":2}
d2={"b":3,"c":4}
merged_dict={**d1,**d2}

In [63]:
print(merged_dict)

{'a': 1, 'b': 3, 'c': 4}