<a href="https://colab.research.google.com/github/PickleRick910/PythonBasics/blob/main/setspractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
####sets
""" sets are built in data type in python used to store a collection of uniquue items ,
they are unordered, meaning that the element does not follow a specific order, no duplicate elemts allowed, useful got membership tests , eleminating duplicat eentries and performing mathematicl set operations like
union intersection difference nad symmetic difference
"""

' sets are built in data type in python used to store a collection of uniquue items ,\nthey are unordered, meaning that the element does not follow a specific order, no duplicate elemts allowed, useful got membership tests , eleminating duplicat eentries and performing mathematicl set operations like\nunion intersection difference nad symmetic difference\n'

In [3]:
## create a set
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
### type casting
my_set=set([1,2,3,4,5,6,7])
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
my_set=set([1,2,3,4,5,6,7,2,3,4,5,6])  ### no repeatation displayed
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [6]:
### basic set operation


### adding and removing

my_set=set([1,2,3,4,5,6,7])
print(my_set)
my_set.add(12)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 12}

In [7]:
my_set.remove(12)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [8]:
my_set.remove(22) ### element absent
print(my_set)

KeyError: 22

In [9]:
my_set.discard(22) ### element absent
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [10]:
## pop method
rm_element=my_set.pop()
print(rm_element)
print(my_set)

1
{2, 3, 4, 5, 6, 7}

In [11]:
### ceclear alll
my_set.clear()
print(my_set)

set()

In [12]:
## set memebership test
my_set={1,2,3,4,5}
print(3 in my_set)

True

In [15]:
print(10 in my_set)

False

In [23]:
###maths operations

set1={1,2,3,4,5,6,7,}
set2={4,5,6,7,8,9,0}

#### union
union_set=set1.union(set2)
print(union_set)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [24]:
###intersection
###maths operations

set1={1,2,3,4,5,6,7,}
set2={4,5,6,7,8,9,0}

inter_set=set1.intersection(set2)
print(inter_set)

{4, 5, 6, 7}

In [25]:
set1.intersection_update(set2)
print(set1)

{4, 5, 6, 7}

In [26]:
set1={1,2,3,4,5,6,7,}
set2={4,5,6,7,8,9,0}


##difference
print(set1.difference(set2))

{1, 2, 3}

In [27]:
set1

{1, 2, 3, 4, 5, 6, 7}

In [28]:
set2.difference(set1)

{0, 8, 9}

In [30]:
#### symmetric difference
set1.symmetric_difference(set2)

{0, 1, 2, 3, 8, 9}

In [35]:
### sets method
set1={1,2,3,4,5,6,7,}
set2={4,5,6,7,8,9,0}

### is subset
print(set1.issubset(set2))

print(set1.issuperset(set2))

False
True

In [38]:
### convert lst to set to remove similar elemtn
lt=[1,2,3,4,4,5,4,2,]
set(lt)

{1, 2, 3, 4, 5}

In [40]:
### convert unique words in text

text="In this tutorial im a mohammed furqan"
words=text.split()

#### covnert list of word to se to get unique words

unique=set(words)
print(unique)
print(len(unique))

{'this', 'furqan', 'a', 'In', 'mohammed', 'im', 'tutorial'}
7

In [42]:
###Question 1:
postive_set={2,4,6,8,10}
print(postive_set)

{2, 4, 6, 8, 10}

In [43]:
s=set(range(1,11))

In [44]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [46]:
##q2
s.add(11)

In [47]:
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [48]:
#q2
s.remove(1)

In [49]:
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [52]:
###q3
s=set(range(1,6))
s2=set(range(2,11,2))
print(s)
print(s2)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

In [53]:
s=s.union(s2)

In [54]:
print(s)

{1, 2, 3, 4, 5, 6, 8, 10}

In [55]:
s=s.intersection(s2)
print(s)

{2, 4, 6, 8, 10}

In [56]:
s.difference(s2)

set()

In [58]:
s=set(range(1,6))
s2=set(range(2,11,2))
print(s)
print(s2)
s.symmetric_difference(s2)

{1, 2, 3, 4, 5}
{2, 4, 6, 8, 10}

{1, 3, 5, 6, 8, 10}

In [68]:
#q4
print(s3)
s4={x**2 for x in range(1,11)}

print(s4)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [70]:
##q5
s5={x for x in postive_set if x%2==0}
print(s5)

{2, 4, 6, 8, 10}

In [74]:
##a6
s={1,2,2,3,3,4,5,5,6,78}
unique=set(s)
print(s)
print(unique)

{1, 2, 3, 4, 5, 6, 78}
{1, 2, 3, 4, 5, 6, 78}

In [78]:
##q7
s1={ x for x in range(1,6)}
s2={x for x in range(1,4)}
print(s1)
print(s2)
print(s2.issubset(s1))
print(s1.issuperset(s2))

{1, 2, 3, 4, 5}
{1, 2, 3}
True
True

In [81]:
### q8
fs=frozenset(range(1,6))  ### like tuple

In [82]:
print(fs)

frozenset({1, 2, 3, 4, 5})

In [96]:
##q9
s1={x  for x in range(1,6)}
s1=list(s1)
print(type(s1))

<class 'list'>

In [97]:
s1.append(6)

In [98]:
print(s1)

[1, 2, 3, 4, 5, 6]

In [99]:
s=set(s1)

In [102]:
####q10
Dict= { frozenset({1,2}): 3,
        frozenset({3,4}): 7,
        frozenset({5,6}): 11}
print(Dict)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

In [104]:
##q11
s= set(range(1,6))
for elem in s:
  print(elem)

1
2
3
4
5

In [105]:
##q12
while s:
  s.pop()
  print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

In [112]:
##q13
s1={ x for x in range(1,6)}
s2={x for x in range(1,9)}
print(s1)
print(s2)
s1.symmetric_difference_update(s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [113]:
print(s1)

{6, 7, 8}

In [120]:
###q14

s1={ x for x in range(1,16,2)}
print(3 in s1)
print(13 in s)

True
False

In [124]:
##q15
s1={(1,2),(1,5),(1,2,3,4)}
print(s1)
print(type(s1))

{(1, 2, 3, 4), (1, 2), (1, 5)}
<class 'set'>