<a href="https://colab.research.google.com/github/PickleRick910/PythonBasics/blob/main/tuplespractise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
###tuples
### are ordered collection of item that are immutable, ismiliar to list but their immutability makes them different

In [5]:
##creating tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))
lst=list()
print(type(lst))

()
<class 'tuple'>
<class 'list'>

In [9]:
n=tuple([1,2,3,4,5])
print(n)
print(type(n))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [10]:
n=list((1,2,3,4,5,6))
print(n)
print(type(n))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [11]:
n=list([1,2,3,4,5,6])
print(n)
print(type(n))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [12]:
n=tuple((1,2,3,4,5))
print(n)
print(type(n))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [14]:
mixed_t=(1,"hello owrld",3.14,True)

In [15]:
print(mixed_t)

(1, 'hello owrld', 3.14, True)

In [17]:
print(type(mixed_t))

<class 'tuple'>

In [19]:
mixed_t=[1,"hello owrld",3.14,True]
print(mixed_t)
print(type(mixed_t))

[1, 'hello owrld', 3.14, True]
<class 'list'>

In [21]:
### accessing tple
n[3]

4

In [22]:
print(n[2])

3

In [24]:
n[0:4]

(1, 2, 3, 4)

In [28]:
n[::-1]

(5, 4, 3, 2, 1)

In [32]:
n=tuple((1,2,3,4,5))
mixed_t=(1,"hello owrld",3.14,True)
##tuple operation
concat_tuple=n+mixed_t
print(concat_tuple)

(1, 2, 3, 4, 5, 1, 'hello owrld', 3.14, True)

In [36]:
mixed_t*3

(1,
 'hello owrld',
 3.14,
 True,
 1,
 'hello owrld',
 3.14,
 True,
 1,
 'hello owrld',
 3.14,
 True)

In [41]:
n/2


### only multiuplication performed not addiotion or substraction

TypeError: unsupported operand type(s) for /: 'tuple' and 'int'

In [42]:
###immutable nature : meaning value cannot change
lst=[1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [46]:
lst[1]= "krish"
print(lst)

[1, 'krish', 3, 4, 5]

In [47]:
print(n)

(1, 2, 3, 4, 5)

In [48]:
n[1]="krish" ##doesnt support value change ( immutable)

TypeError: 'tuple' object does not support item assignment

In [52]:
### tuple methods
print(n.count(1))  ##count
print(n.index(3))  ###index

1
2

In [54]:
### packing and unpacking tuple


P_tuple=1,"hello",3.14
print(P_tuple)

(1, 'hello', 3.14)

In [58]:
##unpacking
a,b,c=P_tuple
print(a)
print(b)

1
hello

In [61]:
## unpackiung with *
number=(1,2,3,4,5,6)
first,*middle,last,=number ### unpacking
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [68]:

lst=[[1,2,3,4],[5,6,7,8,],[1,"hello",3.14,"c"]]  ## nested list
lst[0]

[1, 2, 3, 4]

In [67]:
lst[0][2]

3

In [71]:
lst[2][0:3]

[1, 'hello', 3.14]

In [73]:
from itertools import filterfalse
## nested tuple.
n_t=((1,2,3,4),("a","b","c"),(True,False))

## access the element in tuple
print(n_t[0])

(1, 2, 3, 4)

In [74]:
print(n_t[1][2])

c

In [76]:
for sub_tuple in n_t:
  for item in sub_tuple:
    print(item,end="")
  print()

1234
abc
TrueFalse

In [84]:
[sub_tuple for sub_tuple in n_t for item in sub_tuple] ##tuple doesnt have comprehention like list"

[(1, 2, 3, 4),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 (1, 2, 3, 4),
 ('a', 'b', 'c'),
 ('a', 'b', 'c'),
 ('a', 'b', 'c'),
 (True, False),
 (True, False)]

In [85]:
""""typles are versatile useful in many real world scenarios where an immutable
 and ordered collection of item is required, used in DS, fucntion arguments and return calues and as dict keys
"""

'"typles are versatile useful in many real world scenarios where an immutable\n and ordered collection of item is required, used in DS, fucntion arguments and return calues and as dict keys\n'